h2 {
    text-align: center
}

.ui.form {

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.select {
    width: 48%
}

.ui.red.basic.button,
.ui.green.basic.button {
    border: 2px solid
}

.numbered-inputs {
    width: 20%
}

#root>div:nth-child(2)>div:nth-child(1)>div>div>form>div:nth-child(5) {
    display: flex;
    justify-content: space-between
}